@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@layer utilities {
  .bg-grid-pattern {
    background-size: 32px 32px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  }
}

body {
  font-family: 'Inter', sans-serif;
}

@media print {
  body, html {
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  #print-label {
    box-shadow: none !important;
    margin: 0 !important;
    position: absolute !important;
    
    
  }
}
